@import 'bulma';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';

.level.is-fullwidth {
  width: 100%;
}

fieldset {
  border: 0;
}

.card-footer-item.button {
  height: auto;
  border-radius: 0;
}

.app {
  .progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    margin: 0;
    border-radius: 0;

    &.hide {
      display: none;
    }
  }
}
